@model IList<sellerproto.ViewModels.WalletBalance>
@{
    ViewData["Title"] = "Assets";
}

<h4>@ViewData["Title"] <small>DefaultWallet demo</small></h4>

@foreach (var walletBalance in Model) {
    <div>
        <h3>
            @walletBalance.Balance 
            <small>@walletBalance.Currency</small>
        </h3>
    </div>
} 


<div>    
UserClaims: @ViewData["UserClaims"]
</div>

<div id="orders"></div>

@section scripts {
    <script>
        function outputUpdate(vol) {
            document.querySelector('#volume').value = vol;
        }

    var walletId = 'DefaultWallet';
    var connection;
    
    $(document).ready(function(){
        connection = connection = new signalR.HubConnectionBuilder()
                                             .withUrl("/transactionHub")
                                             .configureLogging(signalR.LogLevel.Information)
                                             .build();

        connection.on("WalletDepositRegistered", function (walletId, depositId, amount, currency) {
            Toastify({
                    text: "WalletDepositRegistered: " + amount + " " + currency,
                    duration: 10000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
        /*
        connection.on("WalletDepositConfirmed", function (walletId, depositId, amount, currency) {
            
            Toastify({
                    text: "Confirmed: " + amount + " " + currency,
                    duration: 3000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
        */
            
        connection.start().then(function() {
            connection.send('Subscribe', 'Wallet' + walletId);
        });

        $('#deposit').on('submit', function(e){
            sendDepositTask(e.target);
            e.target.reset();
            return false;
        })
    });
    </script>
}