@model String
@{
    ViewData["Title"] = ViewData["WalletId"] ??  "DefaultWallet";

    var walletId = ViewData["Title"];
}

<h3>@ViewData["Title"] <small>Scanner demo</small></h3>

<form id="acceptorder" onsubmit="this.reset">
    <input type="hidden" name="currency" id="currency" value="SEK" />
    <input type="hidden" name="walletId" value="@walletId" />
    <input type="submit" value="OK"  class="input input-lg"/>
</form>

@section scripts {
    <script>
        
    var walletId = '@walletId';
    var connection;
    
    $(document).ready(function(){
        connection = connection = new signalR.HubConnectionBuilder()
                                             .withUrl("/transactionHub")
                                             .configureLogging(signalR.LogLevel.Information)
                                             .build();
                                             
        connection.on("PurchaseCheckoutInitiated", function (walletId, storeid, orderid) {
            Toastify({
                    text: "PurchaseCheckoutInitiated: " + storeid + " " + orderid,
                    duration: 1000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
        
        connection.start().then(function() {
            connection.send('Subscribe', 'Wallet' + walletId);
        });

        $('#acceptorder').on('submit', function(e){
            sendDepositTask(e.target);
            e.target.reset();
            return false;
        })
    });
    </script>
}