@model String
@{
    ViewData["Title"] = ViewData["WalletId"] ??  "DefaultWallet";

    var walletId = ViewData["Title"];
    
    var buyer = ViewData["Buyer"]?.ToString();
}

<h3>Scanner <small>@ViewData["Title"] demo</small></h3>


<div id="waiting">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h3>Scanna en kod</h3>
            <div class="well">
                Registrera köp i kassan...
            </div>
        </div>
    </div>
</div>


<div id="purchase_confirmed">
    
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h3>Köpet bekräftat</h3>
            <div class="well">
                DU BETALADE X TILL Y
            </div>
            <input type="button" id="reset_scanner" value="Scanna igen" class="input input-lg input-default"/>
        </div>
    </div>

</div>


<div id="confirm_purchase">
    
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h3>Bekräfta&nbsp;köp</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-centered col-xs-6 col-xs-offset-3">
            <h1><span id="amount_label"></span> <small id="currency_label"></small></h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-centered col-xs-6 col-xs-offset-3 center">
            <img id="avatar" src="about:blank" class="img-circle" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form id="acceptorder" onsubmit="this.reset">
                <input type="hidden" name="storeid" id="store_id" />
                <input type="hidden" name="purchaseOrderId" id="purchase_order_id" />
                <input type="hidden" name="amount" id="amount" value="0" />
                <input type="hidden" name="currency" id="currency" value="SEK" />
                <input type="hidden" name="walletId" value="@walletId" />
                <input type="hidden" name="buyer" value="@buyer" />
                <input type="submit" value="OK" class="input input-lg input-default"/>
                <input type="reset" value="Avbryt"  class="input input-lg"/>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script>
        
    function createConfirmScreen(amount, currency, salesPerson, storeId, orderId) {
        
        $('#store_id').val(storeId);
        $('#purchase_order_id').val(orderId);

        $('#currency').val(currency);
        $('#currency_label').text(currency);

        $('#amount').val(amount);
        $('#amount_label').text(amount);

        $('#avatar').attr('src', 'https://www.gravatar.com/avatar/' + salesPerson + '?d=mm&s=150');
        
        var qrdata = "amount=" + amount + "&currency=" + currency + "&store=" + storeId + "&order=" + orderId;
        $('#qr').attr('src', '/transactions/qrcode?data=' + encodeURIComponent(qrdata));
        $("#confirm_purchase").fadeIn();
        $("#waiting").fadeOut();
    }
    
    function resetScanner()
    {
        $("#confirm_purchase").fadeOut();
        $("#purchase_confirmed").fadeOut();
        $("#waiting").fadeIn();
    }
        
    var walletId = '@walletId';
    var connection;
    
    $(document).ready(function(){
        
        $("#waiting").hide();
        $("#confirm_purchase").hide();
        $("#purchase_confirmed").hide();
        $("#waiting").fadeIn();

        $('#reset_scanner').click(function(){
            resetScanner();
        });

        connection = connection = new signalR.HubConnectionBuilder()
                                             .withUrl("/transactionHub")
                                             .configureLogging(signalR.LogLevel.Information)
                                             .build();
                                             
        connection.on("PurchaseCheckoutInitiated", function (walletId, storeid, orderid) {

            $("#waiting").fadeOut();
            var detailsUrl = "/Debug/PurchaseOrderDetails?storeid=" + storeid + "&purchaseOrderId=" + orderid;

            $.getJSON(detailsUrl, function(d){
                createConfirmScreen(d.amount, d.currency, d.salesPerson, d.storeId, d.purchaseOrderId);
            });
        });
        
        connection.on("PurchaseOrderAccepted", function (groupName, orderId, amount, currency) {
            
            $("#purchase_confirmed").fadeIn();
            $("#confirm_purchase").fadeOut();
            Toastify({
                    text: "Accepted: " + amount + " " + currency,
                    duration: 3000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
        
        connection.start().then(function() {
            connection.send('Subscribe', 'Wallet' + walletId);
        });

        $('#acceptorder').on('submit', function(e) {
            sendAcceptPurchaseTask(e.target);
            e.target.reset();
            return false;
        })
    });
    </script>
}