@model XingZen.Domain.Model.Store

@{
    ViewData["Title"] = "Customer face";
}
<h3>@Model.Name <small>customer display</small></h3>

<div id="orders"></div>


@section scripts {
    <script>

    var store = '@ViewData["Store"]';
    var connection;

    $(document).ready(function(){
        
        connection = connection = new signalR.HubConnectionBuilder()
                                                .withUrl("/transactionHub")
                                                .configureLogging(signalR.LogLevel.Information)
                                                .build();

        connection.on("SendMessage", function (sender, message) {
            console.log(sender + ': ' + message);
        });
            
        connection.on("Send", function (message) {
            console.log(message);
        });

        connection.on("SendAction", function (sender, action) {
            console.log("SendAction: " + sender + ' ' + action);
        });
            
        connection.on("PurchaseOrderRegistered", function (groupName, orderId, amount, currency) {
            console.log("PurchaseOrderRegistered: " + groupName + ' ' + orderId + ' ' + amount + ' ' + currency);
            
            // document.querySelector('h2 span.amount').innerText = amount + " " + currency;

            var tx = "amount=" + amount + "&currency=" + currency + "&order=" + orderId;
            var qr_src = "/transactions/qrcode?data=" + encodeURIComponent(tx);
            // document.querySelector('img#qr').src = qr_src;

            var order = document.createElement("DIV");
            order.setAttribute("id", "order-info-" + orderId)
            order.innerHTML = "<h2><small>Amount:</small> " + amount + " " + currency + "</h2>";
            var img = document.createElement("IMG");
            img.src = qr_src;
            order.appendChild(img);

            document.querySelector('#orders').appendChild(order);

            /*
            Toastify({
                    text: "New: " + amount + " " + currency,
                    duration: 3000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
            */
            setTimeout(function(){
                console.log("Accept " + orderId);
                connection.send('AcceptPurchaseOrder', 'Store' + store, orderId, amount, currency);
            }, 2000);
        });
        
        connection.on("PurchaseOrderAccepted", function (groupName, orderId, amount, currency) {

            $("#order-info-" + orderId).fadeOut();
            Toastify({
                    text: "Accepted: " + orderId,
                    duration: 3000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
            
        connection.start().then(function() {
            connection.send('Subscribe', 'Store' + store);
            connection.send('Send', 'Store' + store, 'Hello to store' + store);
        });
            
    });
    </script>
}