@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<img src="/transactions/qrcode?data=JOnas" />



@section scripts {


    <script>

    var connection;

    $(document).ready(function(){
            // var c = new signalR.$
            
          connection = connection = new signalR.HubConnectionBuilder()
    .withUrl("/transactionHub")
    .configureLogging(signalR.LogLevel.Information)
    .build();
        //  new signalR.HubConnectionBuilder('hubs/transaction', {}, {});
          connection.on("SendMessage", function (sender, message) {
            console.log(sender + ': ' + message);
        });

        connection.on("SendAction", function (sender, action) {
            console.log(sender + ' ' + action);
        });
            
          connection.start().then(function() {
                console.log("connection started!");
            });
            
    });


    </script>

}