@{
    ViewData["Title"] = "Customer face";
}
<h3>@ViewData["Title"] <small>Store: @ViewData["Store"]</small></h3>

<h2>
    Amount: <span class="amount">AMOUNT</span>
</h2>
<img id="qr" src="/transactions/qrcode?data=JOnas" />
<div id="orders"></div>

@section scripts {
    <script>

    var store = '@ViewData["Store"]';
    var connection;

    $(document).ready(function(){
        
        connection = connection = new signalR.HubConnectionBuilder()
                                                .withUrl("/transactionHub")
                                                .configureLogging(signalR.LogLevel.Information)
                                                .build();

        connection.on("SendMessage", function (sender, message) {
            console.log(sender + ': ' + message);
        });
            
        connection.on("Send", function (message) {
            console.log(message);
        });

        connection.on("SendAction", function (sender, action) {
            console.log("SendAction: " + sender + ' ' + action);
        });
            
        connection.on("PurchaseOrderRegistered", function (groupName, orderId, amount, currency) {
            console.log("PurchaseOrderRegistered: " + groupName + ' ' + orderId + ' ' + amount + ' ' + currency);
            
            document.querySelector('h2 span.amount').innerText = amount + " " + currency;

            var tx = "amount=" + amount + "&currency=" + currency + "&order=" + orderId;
            var qr_src = "/transactions/qrcode?data=" + encodeURIComponent(tx);
            document.querySelector('img#qr').src = qr_src;

            var order = document.createElement("DIV");
            order.innerText = "Amount=" + amount + " " + currency;
            document.querySelector('#orders').appendChild(order);
            Toastify({
                    text: "New: " + amount + " " + currency,
                    duration: 3000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
            
        connection.start().then(function() {
            connection.send('Subscribe', 'Store' + store);
            connection.send('Send', 'Store' + store, 'Hello to store' + store);
            /*
            Toastify({
                    text: "This is a toast",
                    duration: 3000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
            */
        });
            
    });
    </script>
}