@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-6 col-sm-6">
        <h2>Plånbok</h2>
            <ul>
                <li><a asp-area="" asp-controller="Wallet" asp-action="Index">Saldo</a></li>
                <li><a asp-area="" asp-controller="Wallet" asp-action="Scanner">Scanna</a></li>
                <li><a asp-area="" asp-controller="Wallet" asp-action="Deposit">Sätt in</a></li>
            </ul>
    </div>
    <div class="col-xs-6 col-sm-6">
        <h2>Butiker</h2>
            <ul>
                <li><a asp-area="" asp-controller="Stores" asp-action="Index">Visa och skapa butiker</a></li>
            </ul>
    </div>
</div>
