@{

    var userName = "Anon";
    var user = User.Identity as System.Security.Claims.ClaimsIdentity;

    if(user != null)
    {
        userName = user.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value
        ?? user.FindFirst("name")?.Value;
    }
}

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Session" asp-action="SignOut">Logga ut, @userName</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Session" asp-action="SignIn">Logga in</a></li>
    </ul>
}
