

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Slabo+27px&display=swap');


html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: x-large;
}


@media (max-width: 640px) {
    html, body {
		font-size:90%;
    }
  }

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	/*font-family: 'Bangers';*/
    background-color: #fff;
}

h1 {
	color: #000;
	/* text-transform: uppercase; */ 
	font-size: 4em;
	font-weight: 100;
    font-family: 'Alfa Slab One', 'Slabo 27px';
	text-shadow: 0em 0em 0.8em #fff;
}
h1 {
    /* border:solid 2px #000; */
    /* text-shadow: 4px 4px #333; */
}

h1 {
	font-size: 4em;
	font-weight: 100;
	color: #FF3E00;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
}

h2 {
	color: #666;
	/* text-transform: uppercase; */
	font-size: 2em;
	font-weight: 100;
    font-family: 'Slabo 27px';
	text-shadow: 0em 0em 0.8em #fff;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
	border-bottom: solid 2px;
}

a:hover {
    text-decoration: none;
    border-bottom: solid 2px #fff;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
