@model XingZen.Domain.Model.Store

@{
    ViewData["Title"] = Model.Name + " register";
}

<h3>@Model.Name <small>register</small></h3>

<p>New purchase:</p>

<form id="register" onsubmit="this.reset">
    <input type="tel" name="amount" id="amount" class="input input-lg" />
    <input type="hidden" name="currency" value="SEK" />
    <input type="hidden" name="storeId" value="@Model.Id" />
    <input type="hidden" name="salesPerson" value="Sales person" />
    <input type="submit"  class="input input-lg"/>
</form>

@section scripts {
    <script>

    var store = '@Model.Id';
    var connection;
    
    $(document).ready(function(){
        
        connection = connection = new signalR.HubConnectionBuilder()
                                             .withUrl("/transactionHub")
                                             .configureLogging(signalR.LogLevel.Information)
                                             .build();

        connection.on("SendMessage", function (sender, message) {
            console.log(sender + ': ' + message);
        });
            
        connection.on("Send", function (message) {
             console.log(message);
        });

        connection.on("SendAction", function (sender, action) {
            console.log("SendAction: " + sender + ' ' + action);
        });
            
        connection.on("Notify", function (data) {
            Toastify({
                    text: "Notify: " + data,
                    duration: 1000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
        
        connection.on("StoreBalanceAdjusted", function (groupName, balance, currency) {
            Toastify({
                    text: "StoreBalanceAdjusted: " + balance + " " + currency,
                    duration: 1000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
            
        connection.on("PurchaseOrderRegistered", function (groupName, orderId, amount, currency) {
            
            Toastify({
                    text: "PurchaseOrderRegistered: " + amount + " " + currency,
                    duration: 1000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
        
        connection.on("PurchaseOrderAccepted", function (groupName, orderId, amount, currency) {
            
            Toastify({
                    text: "Accepted: " + amount + " " + currency,
                    duration: 3000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
            
        connection.start().then(function() {
            connection.send('Subscribe', 'Store' + store);
        });

        $('#register').on('submit', function(e){

            sendPurchaseOrderTask(e.target);
            // var amount = e.target.querySelector("input[name='amount']");
            // connection.send('RegisterPurchaseOrder', 'Store' + store, 'Order-' + Math.floor(Math.random() * 1000), amount.value, 'SEK');
            // e.preventDefault();
            e.target.reset();
            return false;
        })
            
    });
    </script>
}