@model XingZen.Domain.Model.Store

@{
    ViewData["Title"] = Model.Name + " display demo";
}


<div id="orders">

        <div class="row">
            <div class="col col-xs-6 col-md-6">
                <img id="qr" src="about:blank" style="width:100%;" />
            </div>
            <div class="col col-xs-4 col-md-4">
                <img id="avatar" src="about:blank" style="width:100%;margin-top:15%;" class="img-circle" />
                
                <h1 style="text-align:center;font-size: 500%;"><span id="amount"></span> <small id="currency"></small></h1>
            </div>
        </div>
</div>
<!-- 
<video id="cam" autoplay playsinline style="border:solid 1px blue;width:400px;height:400px;"></video> -->


    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">@Model.Name <small>display demo</small></a>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </nav>
    
@section scripts {
    <script>


    function resetOrderScreen(amount, currency, salesPerson, storeID, orderId) {

    }

    function createOrderScreen(amount, currency, salesPerson, storeId, orderId) {
        $('#amount').text(amount);
        $('#currency').text(currency);
        $('#avatar').attr('src', 'https://www.gravatar.com/avatar/' + salesPerson + '?d=mm&s=350');
        
        var qrdata = "amount=" + amount + "&currency=" + currency + "&store=" + storeId + "&order=" + orderId;
        $('#qr').attr('src', '/transactions/qrcode?data=' + encodeURIComponent(qrdata));
        $("#orders").fadeIn();
    }

    var store = '@Model.Id';
    var connection;

    $(document).ready(function(){

        
        // var videostuff = navigator.mediaDevices.getUserMedia({video:{ facingMode: 'user'}});
        // videostuff.then(function(stream){
        //     var o = $('#cam')[0];
        //     console.log(o);
        //     o.srcObject = stream;
        // });

        createOrderScreen(25, "SEK", "205e460b479e2e5b48aec07710c08d50", 1, 1);
        // $("#orders").fadeOut();
        
        connection = connection = new signalR.HubConnectionBuilder()
                                                .withUrl("/transactionHub")
                                                .configureLogging(signalR.LogLevel.Information)
                                                .build();

        connection.on("SendMessage", function (sender, message) {
            console.log(sender + ': ' + message);
        });
            
        connection.on("Send", function (message) {
            console.log(message);
        });

        connection.on("SendAction", function (sender, action) {
            console.log("SendAction: " + sender + ' ' + action);
        });
            
        connection.on("PurchaseOrderRegistered", function (groupName, orderId, amount, currency) {
            $("#orders").fadeOut();
            var detailsUrl = "/Debug/PurchaseOrderDetails?storeid=" + groupName + "&purchaseOrderId=" + orderId;

            $.getJSON(detailsUrl, function(d){
                console.log(d);
                createOrderScreen(d.amount,  d.currency, d.salesPerson, d.storeId, d.orderId);
            });
        });
        
        connection.on("PurchaseOrderAccepted", function (groupName, orderId, amount, currency) {
            $("#orders").fadeOut();
            Toastify({
                    text: "PurchaseOrderAccepted: " + orderId,
                    duration: 3000,
                    gravity: "bottom",
                    positionLeft: false,
                    close: true,
                    }).showToast();
        });
            
        connection.start().then(function() {
            connection.send('Subscribe', 'Store' + store);
        });
            
    });
    </script>
}